@page "{id:int}"
@model razorPages.Pages.EditMovieModel
@{
}

<h1>Edit Movie</h1>
<form method="post">
    <div class="mb-3">
        <label for="title" class="form-label">Movie Title</label>
        <input type="text" class="form-control" id="title" name="Title" value="@Model.movie?.Title">
        <span asp-validation-for="@Model.movie.Title"></span>
    </div>
    <div class="mb-3">
        <label for="description" class="form-label">Movie Description</label>
        <textarea class="form-control" id="description" rows="3" name="Description">@Model.movie?.Description</textarea>
        <span asp-validation-for="@Model.movie.Description"></span>
    </div>
    <div class="mb-3">
        <label for="rate" class="form-label">Movie Rate</label>
        <input type="number" class="form-control" id="rate" name="Rate" value="@Model.movie?.Rate">
        <span asp-validation-for="@Model.movie.Rate"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>